################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Sqlitecodefirst/packages
/Sqlitecodefirst/.vs/Sqlitecodefirst/v14
/Sqlitecodefirst/Sqlitecodefirst/bin/Debug
/Sqlitecodefirst/Sqlitecodefirst/obj/Debug
